header{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: start;
    width: 100%;
    background-color: #c91a1a;

    a {
        align-self: end;
        font-size: 20px;
        font-family: "Anek Latin", sans-serif;
        color: white;
        background-color: #c91a1a;
        width: 27%;
        border-radius: 0.375rem;
        margin-bottom: 20px;
        text-decoration: none;
    }
    #mobile_header {
    
        width: 100%;
    
        display: grid;
        place-items: center;
        grid-auto-flow: column;
    }
    
    #mobile_header img {
        width: 40px;
        height: 40px;
    }
    
    
    .menu_radio_button {
        display: none;
    }
    
    
    #mobile_menu {
       
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
    
        display: none;
        place-items: center;
        
        width: 30%;
        height: 20%;
        background-color: #c91a1a;
        color: white;
    }
    
    
    #menu_open:checked~#mobile_menu {
        display: grid;
    }
    #header_logo{
        width: 60px;
        height: 60px;
        justify-self: center;
        

    }
}

  .header_button{
      justify-self: end;
      align-self: center;
    

    
    }
  
    @media only screen and (min-width:767px){

        header{

        #header_logo{
            width: 100px;
            height: 100px;

        }

        a{
            font-size: 25px;
        }
        p{
            font-size: 23px;
        }
        #mobile_header img {
            width: 70px;
            height: 70px;
        }
        .header_button{
            pointer-events: none;
        }
    }
}
