main{
    display: grid;
    grid-auto-flow: row;
    

    img{
    display: grid;
    width: 90%;
    justify-self: center;
    height: 50%;
    border-radius: 0.375rem;
    margin-top: 10%;
    }

    h2{
        color: #c91a1a;
        margin-bottom: 20px;
        font-size: 32px;
    }

    h4{
        font-size: 24px;
        margin-bottom: 5px;
        color: black;
    }
    p{
        color: #8c8c8c;
        margin-bottom: 41px;
    }
    div{
        transform: translateY(-190px);
    }
}