main{
    display: grid;
    grid-auto-flow: row;

    article{
        display: grid;
    }
    

    img{
    display: grid;
    width: 90%;
    justify-self: center;
    height: 300px;
    border-radius: 0.375rem;
    margin-top: 10%;
    margin-bottom: 5%;
    }

    h2{
        color: #c91a1a;
        margin-bottom: 20px;
        font-size: 32px;
    }

    h4{
        font-size: 24px;
        margin-bottom: 5px;
        color: black;
    }
    p{
        color: #8c8c8c;
        margin-top: 20px;
       
    }
    a{
        text-decoration: none;
    }

    .cost{
        font-size: 18px;
        color: black;
        margin-bottom: 41px;
    }
   
    }

    .mapouter{
        display: grid;
        place-self: center
        ;
    }
    .gmap_canvas{
        justify-self: center;
    }
    #bottom_main{
        display: grid;
    }

    @media only screen and (min-width:767px){
        main{
        img{
            height: 600px;
        }
        h2{
            font-size: 40px;
        }
        h4{
            font-size: 30px;
        }
        p{
            font-size: 26px;
        }
        .cost{
            font-size: 22px;
        }
        iframe{
            margin-top: 3vh;
            width: 80vw;
        }
       
        
    }
}

@media only screen and (min-width:928px){

    main{

        section{
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .even_sections{
            grid-template-columns: 1fr 1fr;
        }
        
      iframe{
          height: 50vh;
      }

      p{
          text-align: center;
      }
      img{
          height: 800px;
          width: 80%;
          margin-top: 5%;
      }
      h2{
          text-align: center;
      }
      h4{
          text-align: center;
      }
      #soda_img{
          height: 600px;
          width: 40%;
      }
      .main_imgs{
          width: 40%;
          height: 600px;
      }
    }
}