main{
    align-self: start;
}

article{
    display: grid;
    
    h2{
        margin: 1rem;
        font-size: 39px;
    }
    p{
        padding: 20px;
        font-size: 18px;
        
    }
#main_image{
    width: 90%;
    height: 20vh;
    place-self: center;
    border-radius: 0.5rem;  
    margin: 20px;
}
a {margin: 10px;
    background-color: #c91a1a;
    border-radius: 10px;
    width: 40%;
    height: 60%;}

}