main{
    align-self: start;


article{
    display: grid;

   
    h2{
        margin: 1rem;
        font-size: 39px;
        font-family: Arial, Helvetica, sans-serif;
    }
    p{
        padding: 20px;
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }
#main_image{
    width: 90%;
    height: 20vh;
    place-self: center;
    border-radius: 0.5rem;  
    margin: 20px;
}
a {margin: 10px;
    color: white;
    background-color: #c91a1a;
    border-radius: 10px;
    width: 40%;
    height: 50%;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}
}

#main_article2{
    
  h1{
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 15%;
  }
    img{
        
        width: 80%;
        justify-self: center;
        border-radius: 10px;
        
    }
    p{
        margin-top: 15%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    #bottom{
        margin-bottom: 50px;
        
    }
}
}
@media only screen and (min-width:767px){
    main{
        article{
            text-align: center;
            #main_image{
            height: 40vh;
    }
    h2{
        font-size: 45px;
    }
    a{
        justify-self: center;
        font-size: 20px;
    }


}
}
}
@media only screen and (min-width:928px){
    main{
        section{
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 1fr 1fr;
        div{
            align-self: center;
            background-image: url("https://images.squarespace-cdn.com/content/v1/5a37f1ac7131a5daca31ef98/1513875617673-9H44OLA837FLS7NET32A/newcover-photoshopped.jpg?format=2500w");
            background-size: inherit;
            background-repeat: no-repeat;
            border-radius: 0.375rem;
            background-position-x: -700px;
            background-position-y: -120px;
            height: 40vh;

            h2{
                font-family: cursive;
                color: white;
            }
            p{
                font-size: 20px;
                color: black;
                background-color: white;
                opacity: 0.8;
                margin-bottom: 5%;
            }

        }
    }
    #main_article2{
        p{
            margin-top: 5%;
            background-color: #c91a1a;
            border-radius: 10px;
            width: 60%;
            text-align: center;
            justify-self: center;
            font-size: 30px;
            color: white;
            margin-bottom: 2%;
        }

        img{
        height: 500px;
        width: 40%;
        margin-bottom: 10%;
    }
    }
}
}