main {
  display: grid;
  grid-auto-flow: row;
  align-self: start;
  margin-top: 50px;
}

h1 {
  justify-self: center;
  margin-bottom: 20px;
  font-size: 48px;
  color: #c91a1a;
}

.menu_items {
  display: grid;
  grid-auto-flow: column;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.375rem;
  min-height: 40vh;
  min-width: 90vw;
  justify-self: start;
  align-self: start;
  margin-bottom: 20px;
}

a {
  align-self: end;
  font-size: 20px;
  font-family: "Anek Latin", sans-serif;
  color: white;
  background-color: #c91a1a;
  width: 27%;
  border-radius: 0.375rem;
  margin-bottom: 20px;
  text-decoration: none;
}

#appetizers_menu {
  background-image: url("https://images.unsplash.com/photo-1529543544282-ea669407fca3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cmVzdGFyYXVudCUyMGFwcGV0aXplcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
}

#pizza_menu {
  background-image: url("https://images.unsplash.com/photo-1593504049359-74330189a345?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGl6emF8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");
  background-position-y: -110px;
}

#pasta_menu {
  background-image: url("https://images.unsplash.com/photo-1611270629569-8b357cb88da9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cGFzdGF8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");
  background-position-y: -90px;
}

#desserts_menu {
  background-image: url("https://images.unsplash.com/photo-1551024506-0bccd828d307?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGVzc2VydHN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");
  background-position-y: -90px;
}

#drinks_menu {
  background-image: url("https://images.unsplash.com/photo-1596803244618-8dbee441d70b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHNvZGF8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");
  background-position-x: -70px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr auto;
  width: 100%;
}

img {
  width: 100%;
}

iframe {
  place-self: center;
}

footer {
  background-color: lightgray;
}

header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: start;
  width: 100%;
  background-color: #c91a1a;
}
header a {
  align-self: end;
  font-size: 20px;
  font-family: "Anek Latin", sans-serif;
  color: white;
  background-color: #c91a1a;
  width: 27%;
  border-radius: 0.375rem;
  margin-bottom: 20px;
  text-decoration: none;
}
header #mobile_header {
  width: 100%;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
}
header #mobile_header img {
  width: 40px;
  height: 40px;
}
header .menu_radio_button {
  display: none;
}
header #mobile_menu {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: none;
  place-items: center;
  width: 30%;
  height: 20%;
  background-color: #c91a1a;
  color: white;
}
header #menu_open:checked ~ #mobile_menu {
  display: grid;
}
header #header_logo {
  width: 60px;
  height: 60px;
  justify-self: center;
}

.header_button {
  justify-self: end;
  align-self: center;
}/*# sourceMappingURL=menu.css.map */