header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: start;
  width: 100%;
  background-color: #c91a1a;
}
header a {
  align-self: end;
  font-size: 20px;
  font-family: "Anek Latin", sans-serif;
  color: white;
  background-color: #c91a1a;
  width: 27%;
  border-radius: 0.375rem;
  margin-bottom: 20px;
  text-decoration: none;
}
header #mobile_header {
  width: 100%;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
}
header #mobile_header img {
  width: 40px;
  height: 40px;
}
header .menu_radio_button {
  display: none;
}
header #mobile_menu {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: none;
  place-items: center;
  width: 30%;
  height: 20%;
  background-color: #c91a1a;
  color: white;
}
header #menu_open:checked ~ #mobile_menu {
  display: grid;
}
header #header_logo {
  width: 60px;
  height: 60px;
  justify-self: center;
}

.header_button {
  justify-self: end;
  align-self: center;
}

@media only screen and (min-width: 767px) {
  header #header_logo {
    width: 100px;
    height: 100px;
  }
  header a {
    font-size: 25px;
  }
  header p {
    font-size: 23px;
  }
  header #mobile_header img {
    width: 70px;
    height: 70px;
  }
  header .header_button {
    pointer-events: none;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr auto;
  width: 100%;
}

img {
  width: 100%;
}

iframe {
  place-self: center;
}

footer {
  background-color: lightgray;
  text-align: center;
}

@media only screen and (min-width: 767px) {
  footer p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 928px) {
  footer {
    width: 100%;
  }
}
main {
  display: grid;
  grid-auto-flow: row;
}
main article {
  display: grid;
}
main img {
  display: grid;
  width: 90%;
  justify-self: center;
  height: 300px;
  border-radius: 0.375rem;
  margin-top: 10%;
  margin-bottom: 5%;
}
main h2 {
  color: #c91a1a;
  margin-bottom: 20px;
  font-size: 32px;
}
main h4 {
  font-size: 24px;
  margin-bottom: 5px;
  color: black;
}
main p {
  color: #8c8c8c;
  margin-top: 20px;
}
main a {
  text-decoration: none;
}
main .cost {
  font-size: 18px;
  color: black;
  margin-bottom: 41px;
}

.mapouter {
  display: grid;
  place-self: center;
}

.gmap_canvas {
  justify-self: center;
}

#bottom_main {
  display: grid;
}

@media only screen and (min-width: 767px) {
  main img {
    height: 600px;
  }
  main h2 {
    font-size: 40px;
  }
  main h4 {
    font-size: 30px;
  }
  main p {
    font-size: 26px;
  }
  main .cost {
    font-size: 22px;
  }
  main iframe {
    margin-top: 3vh;
    width: 80vw;
  }
}
@media only screen and (min-width: 928px) {
  main section {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
  }
  main .even_sections {
    grid-template-columns: 1fr 1fr;
  }
  main iframe {
    height: 50vh;
  }
  main p {
    text-align: center;
  }
  main img {
    height: 800px;
    width: 80%;
    margin-top: 5%;
  }
  main h2 {
    text-align: center;
  }
  main h4 {
    text-align: center;
  }
  main #soda_img {
    height: 600px;
    width: 40%;
  }
  main .main_imgs {
    width: 40%;
    height: 600px;
  }
}/*# sourceMappingURL=pasta.css.map */